[Unit]
Description=EC2 Deploy uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/.pyenv/versions/ipsw/bin/uwsgi -i /srv/Closet/Closet/.config/uwsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
